/* Contact section styles */
.contact-section {
    padding: 100px 0;
}

.contact-section h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #009970;
    position: relative;
}

.contact-section h1 .underline {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 2px;
    background-color: #009970;
}

.contact-section h2 {
    color: #009970;
    margin-bottom: 20px;
}

.contact-section p {
    color: #666777;
}

.contact-section a {
    color: #009970;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

.map-container {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-section form .btn-primary {
    background-color: #009970;
    border-color: #009970;
    transition: background-color 0.3s, border-color 0.3s;
}

.contact-section form .btn-primary:hover {
    background-color: #00b383;
    border-color: #00b383;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

* {
    box-sizing: border-box;
  }  
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745;
    transition: color 0.4s ease;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-left: 1rem;
    transition: color 0.4s ease;
}

.navbar-nav .nav-link:hover {
    color: #218838;
}

.dropdown-menu {
    background-color: #28a745;
}

.dropdown-menu .dropdown-item {
    color: #fff;
    transition: background-color 0.4s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #218838;
}

.btn-custom {
    background-color: #28a745;
    color: #fff;
    border: none;
    transition: background-color 0.4s ease;
}

.btn-custom:hover {
    background-color: #218838;
}


.logo-img {
    height: 75px; 
    width: 75px;
    padding: 0px;
    margin: 0px;
  }

  .footer {
    background-color: #009970;
    color: #ffffff;
    padding: 2rem 3rem;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

.footer-logo {
    width: 90px;
    margin-bottom: 1rem;
}

.footer-text {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #28a745;
}

.footer h5 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
}

.social-icons {
    margin: 1rem 0;
}

.social-icon {
    color: #343a40;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #28a745;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
  }
  
  .login-button:hover {
    background-color: #00b383;
  }
  